<nav class="nav-extended blue darken-3" style="margin-bottom: 50px;">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Baron Gás e Água</a>          
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="#/app/Pedidos"><b>Pedidos</b></a></li>
      <li class="tab"><a href="#/app/Estoque"><b>Estoque</b></a></li>
      <li class="tab"><a href="#/app/RelatorioFechamento"><b>Relatório Mensal</b></a></li>
      <li class="tab"><a href="#/app/Clientes"><b>Clientes</b></a></li>
      <li class="tab"><a href="#/app/Precos"><b>Preços</b></a></li>
    </ul>
  </div>
</nav>

<div style="margin: 10px" ui-view></div>