<div ng-controller="userCtrl">
  <div ng-init="getEstoques()">
    <div class="row">


      <div class="row col l6 offset-l3 s12" ng-init="getEstoquesByTipo()">

       <div class="collection yellow darken-4 white-text">
            <li class="collection-header">
             <h5 >
              Estoque
             </h5>
           </li>  
        </div>
        
        <div class="row col s4" ng-repeat="tipo in estoques_tipos">
          <div class="card yellow darken-4 white-text">
              <div class="card-content">
                <h5>{{tipo.tipo}} <small>x</small> {{tipo.total}}</h5>
            </div>
          </div>      
        </div> 

      </div>

      <!-- ESTOQUES LOG -->
      <div class="row col l6 offset-l3 s12">


          <div class="card">
            <div class="card-content">
              <div class="row">                  
               <form class="col s12">
                <div class="row">                  
                    <div class="input-field col l12 s12">
                      <datepicker class="col" date-format="dd/MM/yyyy">
                        <input value="" ng-model="oEstoque.dia" ng-init="oEstoque.dia = hoje" type="text" placeholder="Data">
                      </datepicker>
                    </div>

                    <div class="input-field col l12 s12">                                        
                      <input ng-model="oEstoque.qtd" ng-init="oEstoque.qtd = 20" type="text" placeholder="Quantidade">
                    </div> 

                    <div class="input-field col l12 s12">                                        
                      <input ng-model="oEstoque.obs" type="text" placeholder="Observação" ng-init="oEstoque.obs = 'NFE: '">
                    </div> 

                    <div class="input-field col l12 s12">                                
                      <select class="browser-default col s12" ng-model="oEstoque.tipo" ng-init="oEstoque.tipo = 'P13'">                    
                        <option value="P13">P13</option>                          
                        <option value="P20">P20</option>                          
                        <option value="P45">P45</option>                          
                      </select>
                    </div>                      
                </div>
              </form>
            </div>
            <div class="card-action">                                                  
              <button type="submit" class="btn yellow darken-4" ng-click="sendEstoque(oEstoque)"><i class="fa fa-plus"></i></button>               
            </div>
          </div>
        </div>
           

        <div class="row" ng-repeat="dia in estoques">
          <div class="col s12 m12">
            <div class="card">
              <div class="card-content">
                <span class="card-title">{{dia.dia_semana}} <span class="badge blue darken-3 white-text">{{dia.dia | date:"dd/MM/yyyy"}}</span></span>
          
                <div class="card orange lighten-4" ng-repeat="estoque in dia.estoques">
                  <div class="card-content">
                    <span class="card-title">{{pedido.nome}} Entrada</span>       
                    <p>                                                      
                      <button class="btn col s2 grey darken-3 white-text" ng-bind="estoque.tipo"></button>
                      <button class="btn col s4 grey darken-3 white-text">{{estoque.qtd}} Unidades</button>
                      <button class="btn col s4 grey darken-3 white-text">{{estoque.qtd * estoque.preco | currency : "R$ "}}</button>
                      <button class="btn grey darken-3 white-text" ng-bind="estoque.obs"></button>
                      <button class="btn col s1 red darken-3 white-text right fa fa-trash" ng-click="deleteEstoque(estoque)"></button>
                    </p>                                        
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div> 

    </div>

  </div>
</div>

<script type="text/javascript">
     $(document).ready(function() {
        $('select').material_select();
    });
</script>