<div ng-controller="userCtrl">
  <div class="user" ng-init="getPedidos()">

    <div class="row">

        <!-- PEDIDOS -->  
        <div class="row col l8 s12 col offset-l2">

          <div class="collection blue darken-3 white-text">
              <li class="collection-header col s10">
               <h5>
                {{dia_semana}}
               </h5>
             </li>
          </div>

        <div class="card">
          <div class="card-content">
            <div class="row">
              <form class="col s12">
                <div class="row">

                  <div class="input-field col l12 s12">
                    <datepicker class="col" date-format="dd/MM/yyyy">
                      <input value="" ng-model="oPedido.dia"  type="text" placeholder="Data">
                    </datepicker>
                  </div>  
                    
                  <div class="input-field col l10 s10">                                
                      <select class="browser-default col s12" ng-model="oPedido.tipo" ng-init="oPedido.tipo = 'P13'">
                        <option value="P13">P13</option>
                        <option value="P20">P20</option>
                        <option value="P45">P45</option>                      
                      </select>                  
                  </div>
                      
                            
                  <div class="input-field col l1 s12">
                    <input ng-model="oPedido.qtd" ng-init="oPedido.qtd = 1" type="number"  class="validate" value="1">                  
                  </div>                
                  <div class="input-field col l3 s12">
                     <input value="" ng-model="oPedido.nome" type="text" class="validate" ng-change="getClientes(oPedido)" placeholder="Nome">
                    <!-- <label for="nome">Nome</label> -->
                  </div>                
                  <div class="input-field col l4 s12">
                    <input value="" ng-model="oPedido.endereco" type="text"  class="validate" ng-change="getClientes(oPedido)" placeholder="Endereço">
                    <!-- <label for="endereco">Endereço</label> -->
                  </div>               
                  <div class="input-field col l4 s12">
                    <input value="" ng-model="oPedido.telefone" type="text"  class="validate" ng-change="getClientes(oPedido)" placeholder="Telefone">
                    <!-- <label for="telefone">Telefone</label> -->
                  </div>

                </div>
              </form>
            </div>
            <div class="card-action">
              <button type="submit" class="btn blue darken-3" ng-click="sendPedido(oPedido)"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>

        <div class="collection">
          <a href="javascript:void(0)" ng-repeat="cliente in clientes" class="collection-item" 
              ng-click="oPedido.nome = cliente.nome;
                        oPedido.endereco = cliente.endereco; 
                        oPedido.telefone = cliente.telefone">{{cliente.endereco}}
            <span style="font-size: 16px;" class="blue new badge left" data-badge-caption="">{{cliente.nome}}</span>       
            <span style="font-size: 16px;" class="blue new badge right" data-badge-caption="">{{cliente.telefone}}</span>       
          </a>
        </div>


        <div class="row" ng-repeat="dia in pedidos">
          <div class="col s12 m12">

            <div class="card">
              <div class="card-content">
                <span class="card-title">{{dia.dia_semana}} <span class="badge blue darken-3 white-text">{{dia.dia | date:"dd/MM/yyyy"}}</span></span>
          
                <div class="card blue darken-3" ng-repeat="pedido in dia.pedidos" ng-class="{'green lighten-4' : pedido.entrega == 'entregue' && pedido.pagamento == 'pago', 'orange lighten-4' : pedido.entrega == 'entregue' && pedido.pagamento == 'fiado' }">
                  <div class="card-content white-text">
                    <span class="card-title">{{pedido.nome}}</span>       
                    <p>                                        
                    {{pedido.qtd}} <small>x</small> {{pedido.tipo}} | <b>{{pedido.endereco}}</b> | {{pedido.telefone}}</p>  
                  </div>
                  <div class="card-action">
                    <button class="btn grey darken-3 right white-text fa fa-trash" ng-click="deletePedido(pedido)"></button>

                    <button class="btn red white-text" ng-click="changeEntrega(pedido)" ng-show="pedido.entrega == 'pendente'">Pendente</button>
                    <button class="btn green white-text" ng-click="changeEntrega(pedido)" ng-show="pedido.entrega == 'entregue'">Entregue</button>              

                    <button class="btn green white-text" ng-click="changePagamento(pedido)" ng-show="pedido.pagamento == 'pago' && pedido.entrega == 'entregue'">Pago</button>
                    <button class="btn orange white-text" ng-click="changePagamento(pedido)" ng-show="pedido.pagamento == 'fiado' && pedido.entrega == 'entregue'">Fiado</button> 
                  
                    <a href="" class="white black-text col l2 s3 right" ng-show="pedido.pagamento == 'fiado'">
                        <datepicker class="col s12" date-format="dd/MM/yyyy">                                          
                          <input value="" ng-change="updatePedido(pedido)" ng-model="pedido.previsao" type="text" placeholder="Data">
                        </datepicker>
                    </a> 
              
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>



  </div>
</div>