<div ng-controller="userCtrl">
  <div class="user" ng-init="getRelatorios()">
    <div class="row">

      <!-- RELATORIO LOG -->
      <div class="row col l6 offset-l3 s12">

        <div class="collection red lighten-1 white-text">
            <li class="collection-header col s10">
             <h5>
              Estoque
             </h5>
           </li>
        </div>

        <div class="">
          <div class="card">
            <div class="card-content">
               <form class="row">
                <!-- <div class="input-field"> -->

                    <div class="input-field col l4 s12">
                      <datepicker class="col" date-format="dd/MM/yyyy">
                        <input value="" ng-model="oEstoque.dia" ng-init="oEstoque.dia = hoje" type="text" placeholder="Data">
                      </datepicker>

                      <input ng-model="oEstoque.qtd" ng-init="oEstoque.qtd = 20" type="text" placeholder="Quantidade" class="validate" value="1">
                    </div>

                    <div class="input-field col l8 s12">                                        
                      <input ng-model="oEstoque.obs" type="text" placeholder="Observação" class="validate" value="1">
                    </div> 

                    <div class="input-field col l8 s12">                                                            
                        <b ng-repeat="tipo in tipos">
                          <input name="tipo" type="radio" id="{{tipo.codtipo}}" checked="tipo.checked" ng-click="oEstoque.tipo = tipo.tipo"/>
                          <label for="{{tipo.codtipo}}">{{tipo.tipo}}</label>
                        </b>     
                    </div>
                    <div class="input-field col l8 s12">                     
                        <button type="submit" class="btn red lighten-1 col s12" ng-click="sendEstoque(oEstoque)"><i class="fa fa-plus"></i></button>
                    </div>
              </form>
            </div>
          </div>
        </div>     

        <div ng-repeat="dia in estoques"> 
            <div class="collection">

              <a href="" class="collection-item red white-text" ng-click="showEstoquesDia = !showEstoquesDia">Entradas em {{dia.dia  | date:"dd/MM/yyyy"}} <span class="badge green white-text">{{dia.dia_semana}}</span>
              <i class="right fa fa-chevron-up"  ng-show="!showEstoquesDia"></i>
              <i class="right fa fa-chevron-down" ng-show="showEstoquesDia"></i>
              </a>

              <a href="" ng-repeat="estoque in dia.estoques" class="collection-item" 

                ng-show="!showEstoquesDia" 
                ng-class="{'green lighten-4' : estoque.entrega == 'entregue' && estoque.pagamento == 'pago', 'red lighten-4' : estoque.entrega == 'entregue' && estoque.pagamento == 'fiado' }">

                <span class="badge grey darken-3 white-text" ng-bind="estoque.qtd"></span>
                <span class="badge grey darken-3 white-text" ng-bind="estoque.tipo"></span>

                Obs: <span class="badge" ng-bind="estoque.obs"></span>

                <span class="badge col s1 grey darken-3 right white-text fa fa-trash" ng-click="deleteEstoque(estoque)"></span>


                <span class="badge col l1 s6 red white-text right" ng-click="changeEntrega(pedido)" ng-show="estoque.entrega == 'pendente'">Pendente</span>
                <span class="badge col l1 s6 green white-text right" ng-click="changeEntrega(pedido)" ng-show="estoque.entrega == 'entregue'">Entregue</span>              


                <span class="badge col l1 s6 green white-text right" ng-click="changePagamento(pedido)" ng-show="estoque.pagamento == 'pago'">Pago</span>
                <span class="badge col l1 s6 red white-text right" ng-click="changePagamento(pedido)" ng-show="estoque.pagamento == 'fiado'">Fiado</span> 
              
              </a>
            </div>
        </div>
      </div>

    </div>

  </div>
</div>